aiodns==3.0.0
aiohttp_socks==0.7.1
aioredis==2.0.1
asynctest==0.13.0
BeautifulSoup==3.2.2
brotli==1.0.9
cchardet==2.1.7
cdecimal==2.3
chardet==3.0.4
colorama==0.4.3
ConfigParser==5.2.0
cryptography==2.8
cx_Oracle==8.3.0
Cython==0.29.26
dl==0.1.0
gunicorn==20.1.0
html5lib==1.1
idna_ssl==1.1.0
importlib_metadata==1.5.0
ipaddr==2.2.0
jnius==1.1.0
keyring==18.0.1
motor==2.5.1
mx==3.2
mypy_extensions==0.4.3
numpy==1.22.1
ordereddict==1.1
pgdb==0.0.11
pip_api==0.0.26
pipreqs==0.4.11
protobuf==3.19.3
pyenchant==3.2.2
PyGObject==3.36.0
pylama==8.3.7
pymongo==4.0.1
pyOpenSSL==21.0.0
pysqlcipher3==1.0.4
pysqlite==2.8.3
pytest==6.2.5
pytest_xdist==2.5.0
rapidjson==1.0.0
requirementslib==1.6.1
sets==0.3.2
simplejson==3.17.6
sqlcipher3==0.4.5
Sybase==0.35
testsuite==0.1.2
tokio==0.2.0
typed_ast==1.5.2
ujson==5.1.0
unicodedata2==14.0.0
uvloop==0.16.0
wincertstore==0.2.1
